html
    head

    block title

    link(rel='stylesheet', href='/css/style.css')

    body
        header(class='heading')
            h1 Pug Templating Engine
            div(class='links')
                a(href='/') Home
                a(href='/about') About
        block content

        footer(class='footer')
            h3 copyrights sabarivanam@gmail.com